.attebdance_alert-sucess{
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attebdance_alert-danger{
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attebdance_alert-danger ul{
    margin: 0;
}

.attendance_panel{
    margin: 0 auto;
    width: 70%;
}

.attendance_button{
    width: 100%;
    text-align: center;
}

.attendance_button-submit{
    padding: 5px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.attendance_content{
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.attendance-table{
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.attendance-table_inner{
    width: 100%;
}

.attendance-table_row{
    border-bottom: 1px solid #ddd;
}

.attendance-table_header{
    padding: 12px;
    width: 20%;
    font-weight: bold;
}

.attendance-table_item{
    padding: 12px;
    width: 20%;
}